/* Resetando margens e padding padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos do Footer */
.footer {
  background-color:transparent;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2); 


}

/* .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.footer-content p {
  margin-bottom: 10px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: aquamarine; /* Cor de destaque quando o mouse passa por cima */
}

@media screen and (max-width: 607px) {
  .footer {
   /* Mantém os itens empilhados */
    align-items: center;
    padding: 8px;
  }

  .footer-content p {
    font-size: 10px; /* Reduz o tamanho do texto */
    text-align:center;
  }

  .nav-links {
    /* flex-direction: column; */
    text-align: center;
    width: 100%;
  }

  .footer-links {
    margin: 3px 0; /* Menor espaçamento */
  }

  .footer-links a{
    font-size: 12px; /* Diminui o tamanho dos links */
    padding: 6px;
  }
}
