/* Resetando margens e padding padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Estilo da Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 12px;
}

.navbar .logo h2 {
  color: #fff;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}


.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 16px;

  transition: background-color .2s ease;
}

.nav-links li a:hover {
  background-color:rgb(22, 117, 85);
  border-radius: 12px;
  transition: background-color .3s ease;

}

@media screen and (max-width: 607px) {
  .navbar {
   /* Mantém os itens empilhados */
    align-items: center;
    padding: 8px;
  }

  .navbar .logo h1 {
    font-size: 16px; /* Reduz o tamanho do texto */
    text-align: center;
  }

  .nav-links {
    /* flex-direction: column; */
    text-align: center;
    width: 100%;
  }

  .nav-links li {
    margin: 3px 0; /* Menor espaçamento */
  }

  .nav-links li a {
    font-size: 14px; /* Diminui o tamanho dos links */
    padding: 6px;
  }
}
